<div class="container" *ngIf="showInfoCard">
    <mat-card class="mat-elevation-z1">
        <mat-card-header>
            <mat-card-title class="text">Source Code</mat-card-title>
            <!-- <mat-card-subtitle>and how does this site work</mat-card-subtitle> -->
          </mat-card-header>
    
          <mat-card-content class="text">
            <div class="text">
              The conversion happens on your machine, in-browser, using JavaScript. No data is sent to any server.
            </div>
            <br>
            <div class="text">
                You can view the source code here:
                <br>
                 - <a target="_blank" href="https://github.com/mwood77/pf2opn">
                  https://github.com/mwood77/pf2opn
                </a>
            </div>
            <br>
            <div class="text">
                You can run this as a container on your own machine here:
                <br>
                 - <a target="_blank" href="https://hub.docker.com/r/mwood77/pf2opn">
                  https://hub.docker.com/r/mwood77/pf2opn
                </a>
            </div>
          </mat-card-content>

          <div class="spacer"></div>

          
          <div *ngIf="showDonations">
            <hr>
            <mat-card-header>
              <mat-card-title class="text">Consider Donating</mat-card-title>
            </mat-card-header>
            <mat-card-content class="text">
              <div class="text">Donations help with development and hosting costs.</div>
              <div class="center">
                  <a target="_blank" mat-raised-button color="accent" (click)="openSite(githubURL)">
                      GitHub Sponsor
                  </a>
                  
                  <p class="horizontal-spacer"></p>
                  
                  <a target="_blank" mat-raised-button color="accent"(click)="openSite(kofiURL)">
                      ko-fi
                  </a>
              </div>
            </mat-card-content>
          </div>

    </mat-card>
</div>