mat-card {
    margin: 1rem;
}

hr {
    width: 98%
}

.contianer {
    margin-top: 1.5rem;
}


.text {
    color: whitesmoke;
}

.horizontal-spacer {
    width: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}