<div class="contianer">

    <app-info></app-info>

    <mat-card class="mat-elevation-z1">
        <mat-card-header>
            <mat-card-title class="text">Upload</mat-card-title>
            <mat-card-subtitle>Select your pfsense config file</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content class="text">
            <input type="file" class="file-input"
                (change)="onFileSelected($event)" #fileUpload>
            <div class="center">
                <button mat-raised-button color="primary" class="upload-button" (click)="fileUpload.click()" [disabled]="this.displayConversionCard">
                    <div class="upload-button-text">{{ fileName || "Upload" }}</div>
                </button>

                <div class="horizontal-spacer"></div>

                <button mat-stroked-button color="warn" class="cancel-button" (click)="reset($event)">
                    <div class="cancel-button-text">Reset</div>
                </button>
            </div>
          </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z1 unsupported-card" *ngIf="this.unsupportedFile">
        <mat-card-header>
            <mat-card-content>
                <div class='unsupported-content bold'>
                    <p class="center">
                        You have selected an unsupported file type. Please select a pfsense config file (XML).
                    </p>
                </div>
            </mat-card-content>
        </mat-card-header>
    </mat-card>

    <mat-card class="mat-elevation-z1 caution-card" *ngIf="fileName && !this.unsupportedFile">
        <mat-card-header>
            <mat-card-content>
                <div class='caution-content bold'>
                    <p><i>Test this configuration in a development environment before deploying to mission critical services!</i></p>
                </div>
                <div class='caution-content'>
                    <p>
                        There is no warranty, expressed or implied, associated with this tool.
                        There is no liability for any damage, physical or otherwise, caused by this product.
                    </p>
                    <p>Only you are responsible for your own actions.</p>
                </div>
            </mat-card-content>
        </mat-card-header>
    </mat-card>

    <mat-card class="mat-elevation-z1" *ngIf="this.fileName && !this.unsupportedFile">

        <mat-card-header>
            <mat-card-title class="text">Opnsense Conversion</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="spacer"></div>

            <div class="status-text justify-content-end">
                <mat-progress-bar
                    class="example-margin"
                    [color]="this.progressColor"
                    [mode]="this.progressMode"
                    [value]="this.progressValue">
                </mat-progress-bar>
            </div>


            <div class="spacer"></div>

            <!-- Everything worked out! -->
            <div *ngIf="this.conversionAvailable && !this.conversionError">
                <div class="center">
                    <div class="spacer"></div>
                    <button mat-stroked-button color="accent" class="convert-button" (click)="download()">
                        <div class="convert-button-text">Download generated config</div>
                    </button>
                </div>

                <div class="spacer"></div>
                
                <div class="center">
                    <p class="text">Having trouble with whitespace during import?</p>
                </div>
                <div class="center">
                    <button mat-stroked-button class="convert-button" (click)="downloadNoPretty()">
                        <div class="convert-button-text">Download generated config without formatting</div>
                    </button>
                </div>

<!-- purposeful indent location -->
<pre>
<?xml version="1.0"?>
{{ this.renderedXML }}
</pre>
            </div>

            <!-- Something blew up! -->
            <div *ngIf="this.conversionError">
                <div class="center">
                    <p class="text"><strong>Are you sure you uploaded a pfsense config file?</strong></p>
                </div>
<!-- purposeful indent location -->
<pre class="error-code">
{{ this.renderedXML }}
</pre>
            </div>

        </mat-card-content>
    </mat-card>

</div>